<main>

  <h1>Customer support service</h1>
  <h2>We help our clients with their issues</h2>

  <div class="main-btn">
    <button (click)="onCreate()" pButton>Submit a Ticket</button>
  </div>


  <p-dialog header="You have to be authorized to create a ticket"
            [(visible)]="display"
            [draggable]="false"
            position="top">
    <p>Please <a routerLink="/login">Log In</a> or <a routerLink="/signup">Sign Up</a> if you don't have an account
      already</p>
  </p-dialog>


  <div class="additional-content">

    <div class="additional-content-text">
    <p>If you encounter any difficulties or have questions about our services,
      our support team is available 24/7 to assist you</p>
    <p>Additionally, we offer a comprehensive knowledge base and FAQs
      section on our website to help address common concerns</p>
    </div>

    <div class="logo">
      <img ngSrc="/assets/logo.svg" alt="Logo" height="200" width="200" priority>
    </div>
  </div>

</main>
