@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixins";

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 75vh;
  padding: 30px;

  h1 {
    color: $accent-color;
  }

  .main-btn{
    display: flex;
    justify-content: center;

    button {
      display: flex;
      justify-content: center;
      padding: 10px 25px;
      margin: 30px;
      border-radius: 10px;
    }
  }

  a {
    @include router-link-text;
    font-weight: bold;
    color: $accent-color;
  }

  .additional-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .additional-content-text{
      display: flex;
      flex-direction: column;
    }

    .logo{
      display: flex;
      justify-content: right;
    }

    //@media (max-width: 1025px){
    //  .logo{
    //    display: none;
    //  }
    //}
  }


}
