$base-font: Trebuchet MS, sans-serif;
$base-color: #166879;
$secondary-color: #479eb4;
$base-background-color: #81beca;
$secondary-background-color: #ebe5e1;
$button-color: #fda52b;

@mixin header-text{
  color: $base-color;
  margin: 0;
  font-size: 24px;
  font-family: $base-font;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $base-background-color;

  &-main {
    @include header-text;
  }

  &-mobile {
    display: none;
    @include header-text;
  }
}

div {
  button {
    font-family: $base-font;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: $button-color;
    color: white;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($button-color, 10%);
    }
  }
}

.main {
  background-color: $secondary-background-color;
  font-family: $base-font;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1 {
    color: $base-color;
    font-size: 20px;
    margin-top: 0;
  }

  p {
    color: $secondary-color;
    margin-bottom: 20px;
  }

  #submit {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: $button-color;
    color: white;
    transition: background-color 0.3s;
    width: fit-content;

    &:hover {
      background-color: darken($button-color, 10%);
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $base-background-color;
  color: $base-color;

}
