<div class="header">
  <h2 class="header-main">Always There Business</h2>
  <h2 class="header-mobile">ATB</h2>


  <div>
    <button name="SignUp">Sign Up</button>
    <button name="LogIn">Log In</button>
  </div>

</div>

<div class="main page">
  <h1>Customer support service</h1>
  <h2>We help our clients wi their issues</h2>

  <button id="submit" class="main btn">Submit a ticket</button>

  <p>Additional info...</p>
</div>

<div class="footer">
  <h2>&copy; Always There Business</h2>
  <p>Made by Oles Osadchuk</p>
</div>
