<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <h1>Log In</h1>

  <label for="email">Email</label>
  <input id="email" type="email" formControlName="email" pInputText>

  <label for="password">Password</label>
  <input id="password" type="password" formControlName="password" pInputText>

  <button type="submit" [disabled]="!loginForm.valid || buttonLock" pButton>Log In</button>

  <div class="spinner" *ngIf="spinnerActive">
    <p-progressSpinner></p-progressSpinner>
  </div>
</form>

<p-dialog header="Verification issue" [(visible)]="display" position="top">
  <p>Either email or password is wrong</p>
  <div class="dialog-btn">
    <button (click)="display=false" pButton>
      <i class="pi pi-check" style="font-size: 1.2rem"></i>
    </button>
  </div>
</p-dialog>
