@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixins";

form {
  @include main-content;

  label{
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 120%;
  }

  input {
    border-radius: 30px;
    width: 40vh;
  }

  button {
    margin: 25px;
  }

}
