<app-header></app-header>

<h1>Sign Up</h1>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <label for="name">Name</label>
  <input id="name" type="text" formControlName="email" pInputText>

  <label for="email">Email</label>
  <input id="email" type="email" formControlName="email" pInputText>

  <label for="password">Password</label>
  <input id="password" type="text" formControlName="password" pInputText>

  <button type="submit" [disabled]="!signupForm.valid" pButton>Submit</button>

</form>

<app-footer></app-footer>
