@import "../styles/variables";
@import "../styles/mixins";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $base-color;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  p-button {
    padding: 20px;
  }

  a {
    @include router-link-text;
  }

  .auth-btn
  {

  }

  .ticket-btn {
    //display: none;
  }

  .header-main {

  }

  .header-mobile {
    display: none;

  }

  ::ng-deep .p-button {
    color: white;
  }

}
