<div class="ticket-view" *ngIf="ticket">

  <div class="ticket-options">

    <div class="ticket-element">
      <p>Ticket Number: {{ ticket.number }}</p>
    </div>

    <div class="ticket-element">
      <p>Date: {{ ticket.creationTime | ticketDate }}</p>
    </div>

    <div class="ticket-element" *ngIf="!isAdmin">
      <button (click)="showDialog()" pButton>Edit<i class="pi pi-pencil"></i></button>
    </div>

    <div class="ticket-element-admin" *ngIf="isAdmin">

      <div *ngIf="isAdmin" class="admin-btn">
        <button (click)="assignTicket()"
                [disabled]="ticket.isAssigned"
                pButton>Assign Ticket
        </button>
      </div>

    </div>

    <div class="ticket-edit">

      <div class="ticket-element">
        <p>Solved</p>
        <div class="centered-icon">
          <i *ngIf="ticket.isSolved" class="pi pi-check icon"></i>
        </div>
        <div class="centered-icon">
          <i *ngIf="!ticket.isSolved" class="pi pi-times icon red"></i>
        </div>

      </div>

      <div class="ticket-element">
        <p>Closed</p>
        <div class="centered-icon">
          <i *ngIf="ticket.isClosed" class="pi pi-check icon"></i>
        </div>
        <div class="centered-icon">
          <i *ngIf="!ticket.isClosed" class="pi pi-times icon red"></i>
        </div>
      </div>

    </div>

    <div class="ticket-element" *ngIf="ticket.attachmentIds.length !== 0">
      <div *ngFor="let attachmentId of ticket.attachmentIds">
        <p class="link" (click)="downloadAttachment(attachmentId)">Download Attachment</p>
      </div>
    </div>

    <div class="ticket-element" *ngIf="ticket.attachmentIds.length === 0">
      <p>No Attachments</p>
    </div>

  </div>

  <div class="ticket-info">

    <div class="ticket-element">
      <label for="requestType">Request Type</label>
      <p id="requestType">{{ getRequestTypeName(ticket.requestType) }}</p>
    </div>

    <div class="ticket-element">
      <label for="topic">Topic</label>
      <p id="topic">{{ ticket.topic }}</p>
    </div>

    <div class="ticket-element">
      <label for="description">Description</label>
      <p id="description">{{ ticket.description }}</p>
    </div>

  </div>

  <div class="spinner" *ngIf="spinnerActive">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<p-dialog header="Edit ticket info" [(visible)]="display" position="center">
  <div class="dialog">
    <p>Solved</p>
    <p-inputSwitch [(ngModel)]="optionSolved"></p-inputSwitch>
    <p>Closed</p>
    <p-inputSwitch [(ngModel)]="optionClosed"></p-inputSwitch>
    <br>
    <div class="dialog-btn">
      <button (click)="closeDialog()" pButton>
        <i class="pi pi-check" style="font-size: 1.2rem"></i>
      </button>
    </div>
  </div>
</p-dialog>
