<div class="dialog-page">

  <div class="dialogs-list" *ngIf="dialogs">
    <div class="dialog-item"
         (click)="onChooseDialog(dialog.id)"
         *ngFor="let dialog of dialogs">
      <p>Ticket {{ dialog.number }}</p>
      <p>{{ dialog.lastMassage }}</p>
    </div>
  </div>

  <div class="dialog-hub">

    <div class="no-dialog-selected" *ngIf="!isDialogSelected && dialogs.length !== 0">
      <h1>No Dialog Selected</h1>
    </div>

    <div class="no-dialog-selected" *ngIf="!isDialogSelected && dialogs.length === 0">
      <h1>No Dialogs Yet</h1>
    </div>

    <div class="ticket-info">
      <div class="dialog-ticket" *ngIf="isDialogSelected && currentTicket">
        <p><a class="link" routerLink="/tickets/{{currentTicket.number}}">Topic {{ currentTicket.topic }}</a></p>
        <button *ngIf="isAdmin" (click)="display=true" pButton><i class="pi pi-bars"></i></button>
      </div>
    </div>

    <p-dialog header="Reassign Ticket" [(visible)]="display" position="top">
      <p>Choose admin to reassign ticket?</p>
      <div *ngIf="admins">
        <div class="admins" *ngFor="let admin of admins">
          <div *ngIf="currentTicket">
            <p *ngIf="admin.id != currentTicket.adminId"
               class="link"
               (click)="reassign(currentTicket.id, admin.id)">
              {{ admin.email }}</p>
          </div>
        </div>
      </div>
    </p-dialog>

    <div id="message-list" class="message-list" *ngIf="isDialogSelected">
      <div *ngFor="let message of currentDialogMessages">
        <p>{{ message.text }} from {{ message.userName }} at {{ message.whenSended | ticketDate }}</p>
        <div class="message-attachments" *ngIf="message.attachments.length != 0">
          <div *ngFor="let attachment of message.attachments">
            <p class="attachment" (click)="downloadAttachment(attachment)">Download Attachment</p>
          </div>
        </div>
      </div>

    </div>

    <div class="send-message" *ngIf="isDialogSelected">
      <input pInputText type="text" [(ngModel)]="currentMessageText" (keyup)="onKeyUp($event)"/>
      <button pButton>
        <i class="pi pi-upload" (click)="attach.click()">
          <input type="file" multiple hidden #attach (change)="onAttachmentUpload($event)"/>
        </i>
      </button>
      <button (click)="sendMessage()" pButton><i class="pi pi-send"></i></button>
    </div>

  </div>

</div>
