<div class="dialog-page">

  <div class="dialogs-list">
    <div class="dialog-item" (click)="onChooseDialog(dialog.id)" *ngFor="let dialog of dialogs">
      <p>{{ dialog.lastMassage }}</p>
    </div>
  </div>

  <div class="dialog-hub">

    <p-scroller [itemSize]="10">
      <div class="dialog-ticket" *ngIf="isDialogSelected">
        <p routerLink="/tickets/{{currentDialog.ticket.id}}">Ticket</p>
      </div>

      <div class="message-list" *ngIf="isDialogSelected">

        <div class="message" *ngFor="let message of currentDialogMessages">
          <p>{{ message.text }} from {{ message.userName }}</p>
        </div>

      </div>
    </p-scroller>


    <div class="send-message">
      <input pInputText type="text" [(ngModel)]="currentMessageText" (keyup)="onKeyUp($event)"/>
      <button (click)="sendMessage()" pButton><i class="pi pi-plus"></i></button>
      <button (click)="addAttachment()" pButton><i class="pi pi-send"></i></button>
    </div>

  </div>

</div>
