@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixins";

form {
  @include main-content;

  label{
    margin: 10px;
    font-size: 120%;
  }

  input {
    border-radius: 30px;
    width: 60vh;
  }

  textarea {
    border-radius: 30px;
    width: 60vh;
    margin-bottom: 10px;
  }

  span {
    padding: 10px
  }

  button{
    margin: 15px;
  }



}
