@mixin router-link-text {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@mixin main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:75%;
}
