<div class="tickets-list">
    <p-table
      [value]="tickets"
      [lazy]="true"
      (onLazyLoad)="loadTickets($event)"
      [paginator]="true"
      [rows]="5"
      [totalRecords]="totalRecords"
      [globalFilterFields]="['number', 'requestType', 'topic']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="number">Number
            <p-sortIcon field="number"></p-sortIcon>
          </th>
          <th>Request Type</th>
          <th>Topic</th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="number"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="requestType"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="topic"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr routerLink='/tickets/view' class="ticket-link">
          <td>{{ ticket.number }}</td>
          <td>{{ ticket.requestType }}</td>
          <td>{{ ticket.topic }}</td>
        </tr>
      </ng-template>
    </p-table>
</div>

