@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixins";

.tickets-list {
  margin-left: 5%;
  margin-right: 5%;
  height:75%;

  .list-item {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    background-color: lighten($background-color, 10);
  }

  .ticket-link{
    cursor: pointer;
  }
}


