@import "app/shared/styles/variables";
@import "app/shared/styles/mixins";

html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  background-color: $background-color
}
