@import "app/shared/styles/variables";
@import "app/shared/styles/mixins";

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  background-color: $background-color;

  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

}

.spinner {
  @include spinner()
}

.spinner:before {
  @include spinner-before()
}
