@import "../styles/variables";
@import "../styles/mixins";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  background-color: $base-color;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  height: 12.5%;

  h2 {
    font-size: 20px;
  }
}
